[Desktop Entry]
Exec=
Type=Application
Icon=org.flatpak.BongoCat
Name=BongoCat
Comment=A fork of the Bongo Cat overlay for GNU/Linux
Categories=Utility;
