[Desktop Entry]
Exec=
Type=Application
Icon=io.github.linuxdasein.bongocat_gnu
Name=BongoCat
Comment=A fork of the Bongo Cat overlay for GNU/Linux
Categories=Utility;
